<div class="container">  
<sws-pagination [collectionSize]="100" [pageSize]="5"></sws-pagination>
<form [formGroup]="form">
<sws-input [control]="form.controls['org']" [label]="'Название'" [id]="'org'">
  <sws-field-errors *ngIf="form.controls['org'].hasError('required')">Поле обязательное для заполнения</sws-field-errors>
</sws-input>
<h3>{{form.get('org').value}}</h3>
</form>
<hr />
<p><span sws-hint="tooltip">Наведи, появится tooltip</span></p>
<hr />
<!-- <sws-modal *ngIf="showModal" [options]="modalOptions" (onModalClose)="toggleModalVisible(false)" (onModalApply)="toggleModalVisible(false); onModalApply($event)">
  <div class="text-center">
    <p>Ответ {{modalOptions.dataModal}}</p>
  </div>
</sws-modal> -->
</div>
