<div class="container">
  <form [formGroup]="form">
    <input formControlName="org">
  </form>
  <!--
  <hr/>
  <div class="pos-relative">
    <p>
      <span sws-hint="Отправленные">Наведи, появится tooltip</span>
    </p>
    <p>
      <span sws-hint="tooltip-top" sws-hint-pos="top">Наведи, появится ещё tooltip</span>
    </p>
    <p>
      <span sws-hint="tooltip-left" sws-hint-pos="left">Наведи, появится ещё tooltip</span>
    </p>
    <button sws-hint="Обновить" sws-hint-pos="left"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    <p>
      <span sws-hint="tooltip-bottom" sws-hint-pos="bottom">Наведи, появится ещё tooltip</span>
    </p>
  </div>
  <hr/>-->
  <!-- <sws-modal *ngIf="showModal" [options]="modalOptions" (onModalClose)="toggleModalVisible(false)" (onModalApply)="toggleModalVisible(false); onModalApply($event)">
    <div class="text-center">
      <p>Ответ {{modalOptions.dataModal}}</p>
    </div>
  </sws-modal> -->

<!--  <sws-datepicker [control]="form.controls['date']" [label]="'Название'" [id]="'date'">
    <sws-field-errors *ngIf="form.controls['date'].hasError('required')">Поле обязательное для заполнения
    </sws-field-errors>
  </sws-datepicker>
  <h3>{{form.get('date').value}}</h3>-->


  <h3>Таблица</h3>
  <button (click)="refresh.emit()">refresh</button>
  <sws-table [func]="func" [form]="form" [refresh]="refresh" (data)="setData($event)" [navigatePage]="true">
    <div *ngFor="let user of users?.slice(10,20)">{{user | json}}</div>
  </sws-table>

 <!--<h3>Loading</h3>
  <sws-loading [dataObservable]="obs" [download]="obs">
    <div>Загружено!</div>
  </sws-loading>-->

  <h3>Аккордион</h3>
  <sws-accordion [isOpenAll]="true">
    <sws-accordion-group [heading]="'Аккордион 1'" (openEvent)="openEvent($event)" [isOpen]="true">
      ШОК-КОНТЕНТ 1
    </sws-accordion-group>
    <sws-accordion-group [heading]="'Аккордино 2'" (openEvent)="openEvent($event)" [isOpen]="true">
      ШОК-КОНТЕНТ 2
    </sws-accordion-group>
    <sws-accordion-group [heading]="'Аккордино 3'" (openEvent)="openEvent($event)" [isOpen]="true">
      ШОК-КОНТЕНТ 3
    </sws-accordion-group>
    <sws-accordion-group [heading]="'Аккордино 4'" (openEvent)="openEvent($event)" [isOpen]="true">
      ШОК-КОНТЕНТ 4
    </sws-accordion-group>
  </sws-accordion>

  <!--<h3>Табы</h3>
  <tabs [contentStyle]="'tab-content'" [titleStyle]="'tabs_nav'">
    <tab [title]="'Жилые комплексы: 0'">
      Жилые комплексы Жилые комплексы Жилые комплексы Жилые комплексы Жилые комплексы Жилые комплексы Жилые комплексы
    </tab>
    <tab [title]="'Бренды и застройщики: 0'">
      Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики
    </tab>
    <tab [title]="'Бренды и застройщики: 0'">
      Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики
    </tab>
    <tab [title]="'Бренды и застройщики: 0'">
      Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики
    </tab>
    <tab [title]="'Бренды и застройщики: 0'">
      Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики
    </tab>
    <tab [title]="'Бренды и застройщики: 0'">
      Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики
    </tab>
    <tab [title]="'Бренды и застройщики: 0'">
      Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики
    </tab>
    <tab [title]="'Бренды и застройщики: 0'">
      Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики
    </tab>
    <tab [title]="'Бренды и застройщики: 0'">
      Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики
    </tab>
    <tab [title]="'Бренды и застройщики: 0'">
      Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики Бренды и застройщики
    </tab>
  </tabs>-->

<!--  <sws-ymaps [loadDataObs]="service.loadRegions()" (eventRegion)="setRegion($event)"></sws-ymaps>
  <h3>РЕГИОН: {{region | json}}</h3>-->

  <h3>Snackbar</h3>

  <button (click)="addSnackBar('success','Файл успешно удален')">Успешно</button>
  <button (click)="addSnackBar('error','Ошибка',10000)">Ошибка</button>

</div>

<!--<app-parent></app-parent>-->
